<div id="app">
  <header>
    <div class="header-row">
      <h3>Name &amp; Title</h3>
    </div>
    <div class="nav-row">
      <router-link to="/">Overview</router-link> |
      <router-link to="/about">About</router-link>
      <button>
        <i class="material-icons" role="presentation">add</i>
        <span class="visuallyhidden">Add</span>
        <span class="mdl-button__ripple-container">
          <span class="mdl-ripple"></span>
        </span>
      </button>
    </div>
  </header>
  <main>
    <router-view/>
  </main>
</div>
