#app {
  display: grid;
  grid-template-areas: "header" "main";
  grid-template-rows: 256px 1fr;
  grid-gap: 0px;
  height: 100vh;
  header {
    grid-area: header;
    background-color: rgb(103, 58, 183);
    .header-row {
      color: rgb(255, 255, 255);
      padding: 42px 40px 40px 40px;
    }
    .nav-row {
      overflow: visible;
      padding: 0;
      padding-left: 16px;
      box-sizing: border-box;
      height: 64px;
      width: 100%;
      background-color: rgb(81,45,168);       
      // float: left;
      a {
        margin: 0;
        border: none;
        padding: 0 24px;
        float: left;
        position: relative;
        display: block;
        -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        text-decoration: none;
        height: 64px;
        line-height: 64px;
        text-align: center;
        font-weight: 500;
        /* font-size: 14px; */
        text-transform: uppercase;
        color: rgba(255,255,255,.6);
        overflow: hidden;
        &.router-link-exact-active {
          color: rgb(255, 255, 255);
          // height: 48px;
        // line-height: 48px;
        }
        &.router-link-exact-active:after {
          background-color: white;
          height: 4px;
          height: 2px;
          width: 100%;
          display: block;
          content: " ";
          bottom: 0;
          left: 0;
          position: absolute;
          -webkit-animation: border-expand .2s cubic-bezier(.4,0,.4,1).01s alternate forwards;
          animation: border-expand .2s cubic-bezier(.4,0,.4,1).01s alternate forwards;
          transition: all 1s cubic-bezier(.4,0,1,1)        
        }
      }
    }
  }
  main {
    grid-area: main;
  }
}